
ParamUI {   background-color:transparent;
            border:1px solid gryy;
        }

QPushButton {
                border: 1px solid white;
            }

QPushButton:checked {background-color:white;
                    }
QPushButton:unchecked {background-color:transparent;
                    }
QLineEdit   {
            border: 1px solid white;
            }


Canvas {    
        background-color:lightgray;
        }

